<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <script src="https://unpkg.com/vue@3.0.1/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>{ username }</h1>
        <form class="form-control" @submit.prevent="addTask">
            <div class="form-group">
                <input type="text" class="input" v-model="taskValue" placeholder="What are the todos ?" />
                <input type="submit" class="button" value="Add">
            </div>
        </form>
        <div class="tasks">
            <task-item v-for="task in tasks" :description="task.content" :key="task.id"></task-item>
        </div>
    </div>

    <!-- Import App -->
    <script src="{{ url_for('static', path='/js/app.js') }}"></script>
    
    <!-- Import Component -->
    <script src="{{ url_for('static', path='/js/components/TaskItem.js') }}"></script>
    
    <!-- Mounted App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>