aiofiles==0.6.0
click==7.1.2
fastapi==0.63.0
gunicorn==20.0.4
h11==0.12.0
httptools==0.1.1
Jinja2==2.11.2
MarkupSafe==1.1.1
pydantic==1.7.3
python-dotenv==0.15.0
SQLAlchemy==1.3.22
starlette==0.13.6
typing-extensions==3.7.4.3
uvicorn==0.13.3
uvloop==0.14.0
sidekick-agent-python
