@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Formulaire */
.form-group{
    display: flex;
    justify-content: center;
}

.form-group .input{
    flex-basis: 30%;
    border: 1px solid #c7c7c7;
    outline: none;
    font-family: 'Spartan', cursive;
    padding: 1em 1em;
}

.form-group .button{
    background-color: #D8D174;
    border: none;
    border-radius: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
    padding: .5em 1em;
    box-sizing: border-box;
}

/* Liste de Taches */
.tasks{
    width: 60%;
    margin: auto;
    margin-top: 1em;
}

.task{
    box-shadow: 0 0 3px #7e7e7ed0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: .5em 1em;
    font-family: 'Spartan', cursive;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.task.closed .task-content{
    text-decoration: line-through;
    color: #7e7e7ed0;
}

.task .task-content{
    flex-basis: 90%;
    transition: all ease-in .6s;
}

@media all and (max-width: 600px) {
    .tasks{
        width: 94%;
    }
}